/* import bootstrap to set changes */
@import '../node_modules/bootstrap/scss/bootstrap';
@import './Switch.scss';

.App {
  font-family: 'Open Sans', sans-serif;
}

.dashboard {
  background: linear-gradient(#2f2f2fb5, #2f2f2f59),
    url('./img/dashboard-background.jpg');
  background-size: cover;
  background-position: left 0px;

  .dashboard__button {
    margin-bottom: 7.5rem;
  }
}

.accented {
  font-family: 'Homemade Apple', cursive;
}

.navbar__brand {
  top: 0.15rem;
}

.navbar__about {
  &:hover {
    text-decoration: none;
  }

  .navbar__about__icon {
    font-size: 28px;
    margin-top: 0.1rem;
  }
}

footer {
  bottom: 0;
  font-size: 0.75rem;
}

@media only screen and (max-width: 540px) {
  .dashboard__heading {
    font-size: 2.2rem;
  }

  .dashboard__text {
    width: 100% !important;
  }
}
