.aside {
  margin-top: 2rem;
  max-width: 20rem;
  min-width: 20rem;
}

.aside__close {
  display: none;
}

.aside__option {
  width: max-content;
  border: 1px transparent solid;
  padding: 0 0.5rem;
  border-radius: 5px;
  color: $dark;

  // Hover
  &:hover {
    color: $dark;
    border: 1px $dark solid;
  }
}
.main-content--dark .aside__option {
  color: $light;
  &:hover {
    border: 1px $light solid;
  }
}

.aside__icon {
  font-size: 28px;
}

@media only screen and (max-width: 767px) {
  body {
    // overflow: hidden;
  }

  .fluid-overlay {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: #00000080;

    .fluid-box {
      display: flex;
      justify-content: center;
      width: 100vw;
      position: relative;
      background: $white;
    }
  }
  .aside__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 10;
    right: -0.35rem;
    top: -0.35rem;

    i {
      font-size: 1.1rem;
    }
  }

  .aside {
    min-width: initial;
    width: 540px - 15 * 2px;
    max-width: initial;
    height: 16rem;
    position: relative;
    margin-top: 1rem;
    background: $white;
  }

  .main-content--dark {
    .fluid-box {
      background: $bg-dark-mode;
    }

    .aside {
      background: $bg-dark-mode;
    }
  }
}

@media only screen and (max-width: 539px) {
  .aside {
    height: 19.5rem;
    width: 91.5%;
  }
}
