.aside {
  margin-top: 2rem;
  max-width: 20rem;
  min-width: 20rem;

  &:first-of-type {
    display: block;
  }
  &:last-of-type {
    display: none !important;
  }
}

.fluid-box.fluid-box--reset {
  .aside:first-of-type {
    display: none;
  }
  .aside:last-of-type {
    display: flex !important;
  }
}

.aside__close {
  display: none;
  &:hover > i {
    color: $dark !important;
  }
}

.main-content--dark .aside__close {
  &:hover > i {
    color: $light !important;
  }
}

.aside__option {
  width: max-content;
  border: 1px transparent solid;
  padding: 0 0.5rem;
  border-radius: 5px;
  color: $dark;
  background: $white;

  // Hover
  &:hover {
    color: $dark;
    border: 1px $dark solid;
  }

  &:focus {
    outline: none;
  }
}
.main-content--dark .aside__option {
  color: $light;
  background: $bg-dark-mode;

  &:hover {
    border: 1px $light solid;
  }
}

.aside__icon {
  font-size: 28px;
}

@media only screen and (max-width: 767px) {
  .fluid-overlay {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    background: #00000080;

    .fluid-box {
      transition: height 0.5s ease-in-out;
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 0;
      position: relative;
      background: $white;
    }

    &.fluid-overlay--overlaid {
      z-index: 1;
      .fluid-box {
        height: 20rem;
        &:focus {
          outline: none;
        }
      }
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .aside__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 10;
    right: -0.35rem;
    top: -0.35rem;

    i {
      font-size: 1.1rem;
    }
  }

  .aside {
    min-width: initial;
    width: 540px - 15 * 2px;
    max-width: initial;
    height: 16rem;
    position: relative;
    margin-top: 1rem;
    background: $white;

    &:last-of-type p {
      margin-top: 2.5rem;
    }
  }

  .main-content--dark {
    .fluid-box {
      background: $bg-dark-mode;
    }

    .aside {
      background: $bg-dark-mode;
    }
  }
}

@media only screen and (max-width: 539px) {
  .aside {
    height: 19.5rem;
    width: 91.5%;
  }
}
