.create-new {
  width: max-content;
  height: max-content;
  padding: 10px;
  margin: -10px;
  border: 1.25px transparent solid;

  .create-new__link {
    width: $deck-width;

    .create-new__rect {
      width: $deck-width;
      height: $deck-height;
      border: 1px $dark solid;
      border-radius: 10px;
      margin-bottom: 1rem;

      .create-new__circle {
        width: 2.5rem;
        height: 2.5rem;
        border: inherit;
        border-radius: 50%;

        .create-new__plus {
          width: 1rem;
          height: 1px;
          background: $dark;
        }

        .create-new__plus::after {
          content: '';
          display: block;
          width: 1rem;
          height: 1px;
          background: inherit;
          transform: rotate(90deg);
        }
      }
    }
  }
}

// Dark mode colors
.main-content--dark .create-new__link {
  .create-new__rect {
    border-color: $white;

    .create-new__circle {
      border-color: inherit;

      .create-new__plus {
        background: $white;

        &::after {
          background: inherit;
        }
      }
    }
  }

  &:hover {
    color: $link-dark-hover;
  }
}

// Hover, Focus
.create-new__link:hover .create-new__rect,
.create-new__link:focus .create-new__rect {
  border-color: $danger-hover;

  .create-new__circle {
    border-color: inherit;

    .create-new__plus {
      background: $danger-hover;

      &::after {
        background: inherit;
      }
    }
  }
}

// Focus
.create-new__link:focus {
  outline: none;
}
