.decks-main {
  max-width: 44rem;
}

.deck-graphic {
  width: max-content;
  height: max-content;
  padding: 10px;
  margin: -10px;
  border: 1px transparent solid;

  // Focus
  &:focus {
    border: 1px $danger-hover solid;
    border-radius: 5px;
    outline: none;
  }
}

// Hover
@media only screen and (min-width: 768px) {
  .deck-graphic {
    &:hover {
      border: 1px $danger-hover solid;
      border-radius: 5px;
    }
  }
}

.deck-graphic__cards {
  width: $deck-width;
  height: $deck-height;

  .deck-graphic__card {
    width: $deck-card-width;
    height: $deck-card-height;
    border: $deck-card-light-border 1px solid;

    &:first-of-type {
      top: 0;
      right: 0;
    }
    &:nth-of-type(2) {
      top: $deck-card-offset;
      right: $deck-card-offset;
    }
    &:last-of-type {
      top: 2 * $deck-card-offset;
      right: 2 * $deck-card-offset;
    }
  }
}

// Dark Mode
.main-content--dark .deck-graphic__card {
  border: $deck-card-dark-border 1px solid;
  box-shadow: 0 3px 4px $deck-card-shadow;
}

.deck-graphic__name {
  width: $deck-card-width;
  font-size: 0.8rem;
  margin-top: 1rem;
}
