.icon-button {
  font-size: $icon-size;
  background: transparent;
  color: $dark;
  border: none !important;
  outline: none !important;

  &:hover {
    color: $text-light-hover;
  }
}

.main-content--dark .icon-button {
  color: $light;

  &:hover {
    color: $icon-dark-hover;
  }
}

// Cards
.cards__card {
  .card__sides > .card__side {
    @extend %card--light;
    width: 100%;
    min-height: 20rem;

    .card-back__image {
      width: 30%;
      padding-top: 18%;
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
    }

    .image-upload-placeholder {
      @extend %field;
      border: $img-upload-light-border 1px solid;
      border-radius: 2px;
    }

    .image-upload-placeholder__canvas {
      top: 0;
      left: 0;

      i {
        color: #3a4046;
      }
      p {
        width: 2.85rem;
      }
    }

    .ck {
      @extend %field;
      padding: 0.5rem;
    }

    &.card-front {
      .ck {
        flex-grow: 1;
        text-align: center;
      }
    }

    &.card-back {
      .ck {
        & > *:first-of-type {
          margin-top: 0;
        }

        & > *:last-of-type {
          margin-bottom: 0;
        }
      }
      .card-back__row {
        .ck {
          width: 70%;
          margin: 0.5rem;
          margin-bottom: 0;
        }

        & + .ck {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0.5rem;
        }
      }
    }
  }

  .card__buttons {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    height: 2rem;
  }

  &:hover {
    .card__buttons {
      opacity: 1;
    }
  }
}

// Side - lg
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cards__card .card__sides .card__side {
    min-height: 17.5rem;
  }
}
// md
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cards__card .card__sides .card__side {
    min-height: 22.5rem;
  }
}
// sm
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .cards__card .card__sides .card__side {
    min-height: 16rem;
  }
}
// xs1
@media only screen and (min-width: 400px) and (max-width: 576px) {
  .cards__card .card__sides .card__side {
    min-height: 12rem;
  }
}
// xs2
@media only screen and (max-width: 399px) {
  .cards__card .card__sides .card__side {
    min-height: 10.75rem;
  }
}

// Dark
.main-content--dark .cards__card > .card__sides {
  color: $dark;

  .card__side {
    @extend %card--dark;

    .image-upload-placeholder {
      border: $img-upload-dark-border 1px solid;
    }
  }
}

@media only screen and (max-width: 991px) {
  .main-content--dark .card__side {
    margin-bottom: 2px !important;
  }
}
