%deck-graphic--hover,
%box-border {
  border: 1px $danger-hover solid;
  border-radius: 5px;
  outline: none;
}

%card-graphic {
  background: $white;
  border: $card-graphic-light-border 1px solid;
}

%card-graphic--dark {
  background: $light;
  border: $card-graphic-dark-border 1px solid;
  box-shadow: 0 3px 4px $card-graphic-shadow;
}

%card--light {
  background: $white;
  border: $card-light-border 1px solid;
  box-shadow: 0 3px 4px $card-light-shadow;
}

%card--wire {
  background: $white;
  border: $dark 1px solid;
}

%card--dark {
  background: $light;
  border: none;
  box-shadow: none;
}
