.card__side--transparent {
  width: 100%;
  min-height: 20rem;
}

.hr-100 {
  margin-top: 2rem;
  max-width: unset !important;
}

.flippable-card-container {
  perspective: 2000px;
  border: none !important;
  box-shadow: none !important;
}

.flippable-card {
  position: relative;
  height: auto;
  transition-property: transform;
  transition-duration: 0s;
  transform-style: preserve-3d;
  transition-timing-function: ease-in-out;
}

.flippable-card__focus {
  outline: none;
  transform: rotateY(180deg);
  transition-duration: 0.4s;

  .flippable-card__front {
    .card-front__badge {
      opacity: 0;
    }
  }
  .flippable-card__back {
    height: auto;
  }
}

.flippable-card__front {
  position: absolute;

  .card-front__badge {
    right: 0.5rem;
    top: 0.5rem;
    transition: opacity 0.4s ease-in-out;

    &.badge-threat {
      background: $threat;
      color: white;
    }
    &.badge-warning {
      color: $dark;
    }
  }
}

.flippable-card__front,
.flippable-card__back {
  width: 100%;
  backface-visibility: hidden;
}

.flippable-card__back {
  transform: rotateY(180deg);
  height: 0;
  overflow: hidden;
}

.play-buttons > button {
  padding: 0.75rem;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;

  &:first-of-type {
    background-color: $play-bg-success;
    color: $success;

    &:hover {
      background-color: $play-bg-success-hover !important;
      color: $play-text-success-hover !important;
    }
  }
  &:last-of-type {
    background-color: $play-bg-danger;
    color: $danger;

    &:hover {
      // border: $danger 1px solid !important;
      background-color: $play-bg-danger-hover !important;
      color: $play-text-danger-hover !important;
    }
  }
}

.progress-bar {
  &.bg-threat {
    background-color: $threat;
  }
  &.bg-warning {
    color: $dark;
  }
}
