// dark mode colors
$text-secondary-dark-mode: #f8f9fa7a;
$bg-dark-mode: #302d2d;

// field focus colors
$field-focus-border: #dc354590;
$field-focus-shadow: #dc354535;

// deck dimensions
$card-graphic-width: 6.67rem;
$card-graphic-height: 4rem;
$card-graphic-offset: 0.5rem;
$deck-width: $card-graphic-width + 2 * $card-graphic-offset;
$deck-height: $card-graphic-height + 2 * $card-graphic-offset;

// icon size
$icon-size: 28px;

// card graphic colors
$card-graphic-dark-border: #00000028;
$card-graphic-light-border: #00000077;
$card-graphic-shadow: #00000079;

// card colors
$card-light-border: #00000039;
$card-light-shadow: #00000029;

// image upload placeholder
$img-upload-light-border: #0000003f;
$img-upload-dark-border: #00000075;

// Hover color
$link-dark-hover: #ffffffbf;
$icon-dark-hover: #ffffffd8;
$link-light-hover: #0056b3;
$text-light-hover: #343a40cf;
$danger-hover: #e15361;
