/* import bootstrap to set changes */
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './__variables';
@import './__DarkModeSwitch';
@import './__CreateNew';
@import './__Aside';

// UTILITY

.display {
  &-5 {
    margin-top: 1.5rem !important;
    font-size: 2.75rem;
    font-weight: 300;
  }

  &-6 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.h6 {
  font-size: 1.075rem;
}

.p1 {
  font-size: 0.9rem;
}

.p2 {
  font-size: 0.8rem;
}

.hr {
  margin-top: 2rem;
  max-width: 30rem;
}

.form {
  max-width: 30rem;
}

.progress {
  height: 0.9rem !important;
}

.text--accented {
  font-family: 'Homemade Apple', cursive;
}

.link--accented {
  color: $dark;
  text-decoration: underline;
}

// OVERRIDE DEFAULTS

textarea {
  resize: none;
}

.form-control:focus {
  border-color: #dc354590;
  box-shadow: 0 0 0 3px #dc354535;
}

.btn-light {
  background: $white;
}

.nav-link {
  color: $white !important;
  &:hover {
    color: $link-hover !important;
  }
}

// SKELETON

.App {
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  padding-bottom: 7.5rem;

  &--wall {
    background: linear-gradient($wall-overlay-1, $wall-overlay-2),
      url('../img/dashboard-background.webp');
    background-size: cover;
    background-position: left 0px;
  }

  &--dark {
    background: $bg-dark-mode;
    .link--accented {
      color: $light;
    }

    .hr {
      background-color: $text-secondary-dark-mode;
    }

    .form-control {
      color: $light;
      background-color: transparent;
    }

    .form-control::placeholder {
      color: $text-secondary-dark-mode;
    }

    .text-muted {
      color: $text-secondary-dark-mode !important;
    }
  }
}

.navbar__brand {
  top: 0.15rem;
}

.navbar__about {
  &:hover {
    text-decoration: none;
    .navbar__about__icon {
      color: $icon-hover !important;
    }
  }

  .navbar__about__icon {
    font-size: 28px;
    margin-top: 0.1rem;
  }
}

footer {
  bottom: 0;
  font-size: 0.75rem;
}

// PAGES: DECKSPAGE

// decks main
.decks-main {
  max-width: 44rem;
}

// deck
.deck-graphic__cards {
  width: $deck-width;
  height: $deck-height;

  .deck-graphic__card {
    width: $deck-card-width;
    height: $deck-card-height;
    border: $deck-card-light-border 1px solid;

    &:first-of-type {
      bottom: 0;
      right: 0;
    }
    &:nth-of-type(2) {
      bottom: -1 * $deck-card-offset;
      right: $deck-card-offset;
    }
    &:last-of-type {
      bottom: -2 * $deck-card-offset;
      right: 2 * $deck-card-offset;
    }
  }
}

.main-content--dark .deck-graphic__card {
  border: $deck-card-dark-border 1px solid;
  box-shadow: 0 3px 4px $deck-card-shadow;
}

.deck-graphic__name {
  width: $deck-card-width;
  font-size: 0.8rem;
  margin-top: 2.25rem;
}

@media only screen and (max-width: 540px) {
  .dashboard__heading {
    font-size: 2.2rem;
  }

  .dashboard__text {
    width: 100% !important;
  }
}
