$threat: #e65f12;

/* import bootstrap to set changes */
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './_variables';
@import './_extends';
@import './DarkModeSwitch';
@import './DecksPage';
@import './DeckPage';
@import './DeleteCardButton';
@import './DeckInfoCard';
@import './CreateNew';
@import './Aside';
@import './PlayArea';

// UTILITY

.display {
  &-5 {
    margin-top: 1.5rem !important;
    font-size: 2.75rem;
    font-weight: 300;
  }

  &-6 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.h6 {
  font-size: 1.075rem;
}

.p1 {
  font-size: 0.9rem;
}

.p2 {
  font-size: 0.8rem;
}

.hr {
  margin-top: 2rem;
  max-width: 30rem;
}

.form {
  max-width: 30rem;
}

.progress {
  height: 0.9rem !important;
}

.text--accented {
  font-family: 'Homemade Apple', cursive;
}

.link--accented {
  color: $dark;
  text-decoration: underline;
}

// OVERRIDE DEFAULTS

textarea {
  resize: none;
}

.form-control {
  @extend %field-focus;
}

.btn-light {
  background: $white;
}

.nav-link {
  color: $white !important;
  &:hover {
    color: $link-dark-hover !important;
  }
}

// SKELETON

.App {
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  padding-bottom: 7.5rem;

  &--dark {
    background: $bg-dark-mode;
    .link--accented {
      color: $light;
      &:hover {
        color: $link-dark-hover;
      }
    }

    .hr {
      background-color: $text-secondary-dark-mode;
    }

    .form-control {
      color: $light;
      background-color: transparent;
    }

    .form-control::placeholder {
      color: $text-secondary-dark-mode;
    }

    .text-muted {
      color: $text-secondary-dark-mode !important;
    }
  }

  .spinner-layout {
    left: 0;
    width: 100%;
    height: 100%;

    .spinner {
      top: -5rem;
    }
  }
}

.navbar__brand {
  top: 0.15rem;
}

.navbar__about {
  &:hover {
    text-decoration: none;
    .navbar__about__icon {
      color: $icon-dark-hover !important;
    }
  }

  .navbar__about__icon {
    font-size: 28px;
    margin-top: 0.1rem;
  }
}

footer {
  bottom: 0;
  font-size: 0.75rem;
}

@media only screen and (max-width: 540px) {
  .dashboard__heading {
    font-size: 2.2rem;
  }

  .dashboard__text {
    width: 100% !important;
  }
}
