/* import bootstrap to set changes */
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './Switch.scss';

// UTILITY

.display {
  &-5 {
    margin-top: 1.5rem !important;
    font-size: 2.75rem;
    font-weight: 300;
  }

  &-6 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.hr {
  margin-top: 2rem;
  max-width: 30rem;
}

.form {
  max-width: 30rem;
}

.text--accented {
  font-family: 'Homemade Apple', cursive;
}

.link--accented {
  color: $dark;
  text-decoration: underline;
}

// OVERRIDE DEFAULTS

textarea {
  resize: none;
}

.form-control:focus {
  border-color: #dc354590;
  box-shadow: 0 0 0 3px #dc354535;
}

// SKELETON

.App {
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  padding-bottom: 7.5rem;

  &--wall {
    background: linear-gradient(#302d2db5, #302d2d59),
      url('../img/dashboard-background.jpg');
    background-size: cover;
    background-position: left 0px;
  }

  &--dark {
    background: #302d2d;
    .link--accented {
      color: $light;
    }

    .hr {
      background-color: #f8f9fa7f;
    }

    .form-control {
      color: $light;
      background-color: transparent;
    }

    .form-control::placeholder {
      color: #f8f9fa7a;
    }
  }
}

.navbar__brand {
  top: 0.15rem;
}

.navbar__about {
  &:hover {
    text-decoration: none;
  }

  .navbar__about__icon {
    font-size: 28px;
    margin-top: 0.1rem;
  }
}

footer {
  bottom: 0;
  font-size: 0.75rem;
}

@media only screen and (max-width: 540px) {
  .dashboard__heading {
    font-size: 2.2rem;
  }

  .dashboard__text {
    width: 100% !important;
  }
}
