.decks-main {
  max-width: 44rem;
}

.deck-graphic {
  width: max-content;
  height: max-content;
  padding: 10px;
  margin: -10px;
  border: 1px transparent solid;
  &.deck-graphic--opened {
    @extend %deck-graphic--hover;
  }

  // Focus
  &:focus {
    @extend %deck-graphic--hover;
  }
}
@media only screen and (max-width: 767px) {
  .decks {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

// Hover
@media only screen and (min-width: 768px) {
  .deck-graphic {
    &:hover {
      border: 1px $danger-hover solid;
      border-radius: 5px;
    }
  }
}

.deck-graphic__cards {
  width: $deck-width;
  height: $deck-height;

  .deck-graphic__card {
    width: $card-graphic-width;
    height: $card-graphic-height;
    @extend %card-graphic;

    &:first-of-type {
      top: 0;
      right: 0;
    }
    &:nth-of-type(2) {
      top: $card-graphic-offset;
      right: $card-graphic-offset;
    }
    &:last-of-type {
      top: 2 * $card-graphic-offset;
      right: 2 * $card-graphic-offset;
    }
  }
}

// Dark Mode
.main-content--dark .deck-graphic__card {
  @extend %card-graphic--dark;
}

.deck-graphic__name {
  width: $card-graphic-width;
  font-size: 0.8rem;
  margin-top: 1rem;
}
